﻿
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

}

/* Demo Sections - You can use these or delete them */

section h1 { padding-bottom: 20px; }

.intro-section {
    height: 100%;
    background: #fff;
    padding-top: 150px;
    text-align: center;
}

.about-section {
    height: 100%;
    background: #eee;
    padding-top: 150px;
    text-align: center;
}

.services-section {
    height: 100%;
    background: #fff;
    padding-top: 150px;
    text-align: center;
}

.article {
     height: 100%;
    background: #fff;
    padding-top: 150px;
}